/*
    # Sitio web AppReservas
    ## Requisitos 
    - Realiza la landing page de la aplicación para reservas en restaurantes "AppReservas".
    - Utiliza CSS Grid para la maquetación de los elementos principales y Flexbox para alineaciones, direcciones de los elementos, etc.
    - La página tiene un diseño responsive con breakpoints en 768px y 1024px.
    - Importante: claridad, estructuración del código y comentarios.
    - Usa BEM para el nombrado de clases y custom properties (variables).
    - Se puede consultar toda la documentación offline que se necesite.
    - No está permitido el uso de IA durante el desarrollo del ejercicio (chatgpt, Github Copilot, etc.)

    ## Guía de estilos
    ### Tipografía
    - Tipos de letras: 
    - Principal (párrafos y enlaces): *Roboto 400, 700 y 900* 
    - Titulares: *Robot Condensed 700*

    - Tamaño textos (si se establece un tamaño de fuente en el elemento raíz de la página de 62.5%):
        - h1: 4.2rem 
        - h2: 3.8rem
        - h3: 3.4rem
        - p: 2rem
        - a: 2rem
    
    ### Colores
    - Principal: #3f2690
    - Gris: #7f7e7e
    - Gris claro: #eceeef
    - Botón formulario:  #222729
    - Negro: #000000
    - Blanco: #ffffff

    ### Contenedor
    - Anchura máxima: 1200px

    ### Otras medidas
    - Anchura logo: 30rem
    - Anchura máxima imagen hero móvil y tablet: 40rem
*/

/*! ESTILOS GENERALES    */
:root {
    --principal: #3f2690;
    --gris: #7f7e7e;
    --gris-claro: #eceeef;
    --boton-formulario: #222729;
    --negro: #000;
    --blanco: #fff;
}

html { box-sizing: border-box; font-size: 62.5%; }
*, *::before, *::after { box-sizing: inherit; margin: 0; padding: 0; }
@font-face { font-family: 'Roboto'; src: url('../assets/fonts/Roboto-Regular.ttf'); }
@font-face { font-family: 'Roboto Condensed'; src: url('../assets/fonts/RobotoCondensed-Bold.ttf'); }
h1 { font-size: 4.2rem; font-family: 'Roboto Condensed', sans-serif; font-weight: 700; }
h2 { font-size: 3.8rem; font-family: 'Roboto Condensed', sans-serif; font-weight: 700; }
h3 { font-size: 3.4rem; font-family: 'Roboto Condensed', sans-serif; font-weight: 700; }
p, a { font-size: 2rem; font-family: 'Roboto', sans-serif; }

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

@media screen and (min-width: 768px) {
    h1 { font-size: 5rem; }
    h2 { font-size: 4rem; }
    h3 { font-size: 3rem; }
}
